<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>	
	<head>
	    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	    <meta http-equiv="cache-control" content="no-cache">
	    <title>Sample Django Application</title>		
	</head>
	
	<body>
		<div id="content">
			{% block content %} 
				
			{% endblock %}
		</div>
	</body>

</html>