{% extends "base.html" %}
 
 <body>

   <div id="content">
   {% block content %}

     <h1>Sample OAuth Application</h1>
     
     <h2>Grant Access To Agave</h2>
       <p> username: {{username}} </p>
       <p>If you agree to let us make requests to Agave on your behalf, please click the link below
     and follow the instructions.</p>

       <a href="{{oauth_url}}">Grant Access To Agave </a>

     

   {% endblock %}
   </div>
	
</body>  