{% extends "base.html" %}
 
 <body>

   <div id="content">
   {% block content %}

     <h1>Sample OAuth Application</h1>
     
     <h2>Access Obtained</h2>
       <p> Username: {{ username }}</p>
       <p> Access token: {{ access_token }}</p>
       <p> Refresh token: {{ refresh_token }}</p>

   <a href="{% url 'logout' %}">Logout</a>
   {% endblock %}
   </div>
	
</body>  